.btn {
  padding: 0 2rem;
  border-radius: var(--rounded-md);
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.btn--primary {
  background-color: var(--primary);
  font-weight: 400;
  transition: background-color 300ms;
}

.btn--primary svg {
  transition: transform 300ms;
}

.btn--primary:hover {
  background-color: hsla(var(--primary-700-hsl), 0.8);
}

.btn--primary:hover svg {
  transform: translateX(8px);
}
