---
import Content from "@/components/Content.astro";
import InDevelopment from "@/components/InDevelopment.astro";
import SectionHeader from "@/components/SectionHeader.astro";
import Layout from "@/layouts/Layout.astro";
import type { Project } from "@/types/Project.ts";
import { sortDateDesc } from "@/utils/date";
import type { MarkdownInstance } from "astro";
import { Image } from "astro:assets";

const works = Object.values(
  import.meta.glob<MarkdownInstance<Project>>("./*.md", { eager: true })
)
  .filter((project) => project.frontmatter.public !== false)
  .sort((a: any, b: any) =>
    sortDateDesc(a.frontmatter.createdAt, b.frontmatter.createdAt)
  );
---

<Layout
  title="Trabajos y proyectso en los que he trabajado - Yoel Valverde | Desarrollador de software"
  description="Explora mis proyectos de desarrollo web, enfocados en React y APIs. Interfaces rápidas y optimizadas para un rendimiento superior"
>
  <Content class="mt-20">
    <SectionHeader title="Proyectos" />

    <div class="grid grid-cols-1 md:grid-cols-2 gap-12">
      {
        works.map(({ frontmatter, url }) => (
          <a href={url} class="space-y-4 group/card">
            <div class="overflow-hidden h-56 relative rounded-md ring ring-offset-2 ring-deep-teal/10 sm:h-60 md:h-48">
              <Image
                src={frontmatter.thumb ?? ""}
                alt="front"
                height={200}
                width={200}
                loading="lazy"
                class="project__image w-full h-full object-cover object-center rounded-md group-hover/card:scale-105"
              />
              {frontmatter.inDevelopment && (
                <div class="absolute top-1 left-1">
                  <InDevelopment />
                </div>
              )}
            </div>
            <article class="flex flex-col gap-y-1">
              <h3 class="uppercase font-semibold text-center text-pretty">
                {frontmatter.title}
              </h3>
              <strong class="font-normal text-balance text-center">
                {frontmatter.description}
              </strong>
            </article>
          </a>
        ))
      }
    </div>
  </Content>
</Layout>

<style>
  .project__image {
    transition:
      transform 300ms,
      scale 300ms,
      width 300ms,
      height 300ms;
  }
</style>
