---
import type { Project } from "@/types/Project.ts"
import type { MarkdownInstance } from "astro"

import { Image } from "astro:assets"
import Layout from "@/layouts/Layout.astro"
import Content from "@/components/Content.astro"
import InDevelopment from "@/components/InDevelopment.astro"
import { sortDateDesc } from "@/utils/date"
import SectionHeader from "@/components/SectionHeader.astro"

const works = Object.values(import.meta.glob<MarkdownInstance<Project>>("./*.md", { eager: true }))
  .filter(project => project.frontmatter.public !== false)
  .sort((a: any, b: any) => sortDateDesc(a.frontmatter.createdAt, b.frontmatter.createdAt))
---

<Layout
  title="Trabajos y proyectso en los que he trabajado - Yoel Valverde | Desarrollador de software"
  description="Explora mis proyectos de desarrollo web, enfocados en React y APIs. Interfaces rápidas y optimizadas para un rendimiento superior"
>
  <Content>
    <div class="projects-container">
      <SectionHeader title="Proyectos" />
      <div class="projects">
        {works.map(({ frontmatter, url }) => (
          <a href={url} class="project__card">
            <div class="project__image-wrapper">
              <Image
                src={frontmatter.thumb ?? ''}
                alt="front"
                height={200}
                width={200}
                loading="lazy"
                class="project__image white-to-primary"
              />
              {frontmatter.inDevelopment && (
                <div class="in-dev">
                  <InDevelopment  />
                </div>
              )}
            </div>
            <article class="project__content">
              <h3 class="project__title white-to-primary">
                {frontmatter.title}
              </h3>
              <strong class="project__description white-to-primary">
                {frontmatter.description}
              </strong>
            </article>
          </a>
        ))}
      </div>
    </div>
  </Content>
</Layout>

<style>
.projects-container {
  margin-top: 6rem;
}

.projects {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 2rem;
}

.project__card-wrapper {
  width: 100%;
  height: 48rem;
}

.project__image-wrapper {
  overflow: hidden;
  border-radius: var(--rounded);
  position: relative;
}

.project__image-wrapper .in-dev {
  position: absolute;
  top: 4px;
  left: 4px;
}

.project__image-wrapper .project__image {
  width: 100%;
  height: 100%;
  border-radius: var(--rounded-md);
  transition: transform 300ms;
}

.project__card:hover .project__image {
  transform: scale(1.2);
}

.project__content {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  row-gap: 4px;
}

.project__content .project__title {
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  text-overflow: ellipsis;
  text-transform: uppercase;
  white-space: nowrap;
}

.project__content .project__description {
  font-weight: 400;
  color: var(--zinc-400);
}

@media screen and (min-width: 768px) {
  .projects {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    row-gap: 3rem;
  }
}
</style>
