*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::selection {
  background-color: rgba(var(--color-deep-teal-rgb), 0.2);
}

html {
  font-family: var(--font-quicksand);
  font-weight: 400;
  font-size: 1.375rem;
  color: var(--color-dark);
}

body {
  background-color: var(--color-soft-ivory);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
