:root {
  /* ---------- COLORS RGB ---------- */
  --color-soft-ivory: rgb(247, 248, 243);
  --color-deep-teal: rgb(40, 134, 131);
  --color-jasmine: rgb(254, 218, 135);
  --color-geraldine: rgb(241, 140, 142);
  --color-gray-50: rgb(245, 245, 246);
  --color-gray-100: rgb(230, 230, 231);
  --color-gray-200: rgb(208, 208, 209);
  --color-gray-300: rgb(175, 174, 178);
  --color-gray-400: rgb(134, 134, 138);
  --color-gray-500: rgb(119, 118, 123);
  --color-gray-600: rgb(92, 91, 95);
  --color-gray-700: rgb(78, 78, 80);
  --color-gray-800: rgb(68, 68, 70);
  --color-gray-900: rgb(60, 60, 61);
  --color-gray-950: rgb(38, 37, 39);
  --color-black: rgb(0, 0, 0);
  --color-dark: rgb(53, 69, 85);
  --color-white: rgb(255, 255, 255);

  /* ---------- COLORS VALUE HSL ---------- */
  --color-soft-ivory-rgb: 255, 235, 208;
  --color-deep-teal-rgb: 40, 134, 131;
  --color-jasmine-rgb: 254, 218, 135;
  --color-geraldine-rgb: 241, 140, 142;
  --color-gray-50-rgb: 245, 245, 246;
  --color-gray-100-rgb: 230, 230, 231;
  --color-gray-200-rgb: 208, 208, 209;
  --color-gray-300-rgb: 175, 174, 178;
  --color-gray-400-rgb: 134, 134, 138;
  --color-gray-500-rgb: 119, 118, 123;
  --color-gray-600-rgb: 92, 91, 95;
  --color-gray-700-rgb: 78, 78, 80;
  --color-gray-800-rgb: 68, 68, 70;
  --color-gray-900-rgb: 60, 60, 61;
  --color-gray-950-rgb: 38, 37, 39;
  --color-dark-rgb: 53, 69, 85;
  --color-white-rgb: 255, 255, 255;
  --color-black-rgb: 0, 0, 0;

  /* ---------- FONTS ---------- */
  --font-quicksand: "Quicksand", Arial, Helvetica, system-ui, -apple-system, sans-serif;
  --font-bebas-neue: "Bebas Neue", system-ui, -apple-system, sans-serif;

  /* ---------- ROUNDED ---------- */
  --rounded-xs: 0.125rem;
  --rounded-sm: 0.25rem;
  --rounded-md: 0.5rem;
  --rounded-lg: 1rem;
  --rounded-xl: 2rem;

  /* ---------- ROUNDED ---------- */
  --font-size-xxs: 10px;
  --font-size-xs: 12px;
  --font-size-sm: 14px;
  --font-size-base: 16px;
  --font-size-lg: 20px;
  --font-size-xl: 24px;
  --font-size-2xl: 32px;

  /* ---------- WIDTH ---------- */
  --max-width-content: 52rem;

  /* ---------- BREAKPOINTS ---------- */
  --sm: 640px;
  --md: 768px;
  --lg: 1024px;
  --xl: 1280px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
}

/* Colors HEX */
/* --color-deep-teal: #288683; */
/* --color-soft-ivory: #F7F8F3; */
/* --color-jasmine: #FEDA87; */
/* --color-geraldine: #f18c8e; */
/* --color-dark: #171721; */
/* --color-white: #ffffff; */
/* --color-black: #000000; */
