---
import Layout from "@/layouts/Layout.astro"
import Content from "@/components/Content.astro"
import ArrowRightIcon from "@/icons/arrow-right.icon.astro";
---

<Layout
  title="404 - Yoel Valverde | Desarrollador frontend"
  description="P치gina no encontrada. Descubre m치s sobre mi trabajo y explora mis proyectos de desarrollo web frontend con React y TailwindCSS."
  withoutFooter
>
  <Content class="h-screen flex justify-center items-center">
    <section class="flex flex-col justify-center items-center gap-y-8">
      <span class="not-found">
        404
      </span>
      <h1 class="font-normal text-center text-2xl text-prety">
        La p치gina que est치s buscando no fue encontrada.
      </h1>

      <a href="/" class="button-back bg-deep-teal text-white rounded-md px-8 py-4">
        <ArrowRightIcon size="24" class="link__icon" />
        Regresar a casa
      </a>
    </section>
  </Content>
</Layout>

<style>
.not-found {
  font-size: 60vw;
  line-height: 0.6;
  font-family: var(--font-bebas-neue);
}

.button-back {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  text-transform: uppercase;
  padding: 1rem 2rem;
  position: relative;
  overflow: hidden;
  transition: width 500ms, color 500ms, border-bottom-color 500ms, padding-left 500ms;
}

.link__icon {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(-48px, -50%);
  transition: transform 500ms, position 500ms;
}

.button-back:hover {
  color: var(--color-white);
  background-color: color-mix(in oklab, var(--color-deep-teal) 90%, transparent);
  padding-left: 4rem;
}

.button-back:hover .link__icon {
  transform: translate(24px, -50%);
}

@media screen and (min-width: 768px) {
  .not-found {
    font-size: 40vw;
    line-height: 0.7;
  }
}
</style>
