---
import Layout from '@/layouts/Layout.astro'
import Experiences from '@/sections/Experiences.astro'
import AboutMe from '@/sections/AboutMe.astro'
import ContactMe from '@/sections/ContactMe.astro'
---

<Layout
  title="Acerca de Yoel Valverde - Desarrollador frontend"
  description="Soy un desarrollador web frontend con experiencia en React. Apasionado por la creación de sitios optimizados y accesibles"
>
  <div class="space-y-32 mt-20">
      <AboutMe />

      <Experiences />

      <ContactMe />
  </div>
</Layout>
