---
import Layout from '@/layouts/Layout.astro'
import Masthead from '@/components/Masthead.astro'
import Works from '@/sections/Works.astro'
import Experiences from '@/sections/Experiences.astro'
import AboutMe from '@/sections/AboutMe.astro'
import ContactMe from '@/sections/ContactMe.astro'
---

<Layout
  title="Yoel Valverde - Desarrollador frontend"
  description="Desarrollador web frontend especializado en crear experiencias digitales rápidas y optimizadas. Experto en React / TypeScript, con un enfoque en rendimiento web para mejorar SEO y la experiencia del usuario."
>
  <Masthead />

  <div class="home-container pt-32 w-full bg-soft-ivory flex flex-col gap-y-32">
    <Works />

    <Experiences />

    <AboutMe />

    <ContactMe />
  </div>
</Layout>
