---
import Layout from '@/layouts/Layout.astro'
import Masthead from '@/components/Masthead.astro'
import Content from '@/components/Content.astro'
import Projects from '@/sections/Projects.astro'
import Experiences from '@/sections/Experiences.astro'
import AboutMe from '@/sections/AboutMe.astro'
---

<Layout title="Yoel Valverde" description="Buenas">
  <Masthead />

  <Content>
    <div class="container">
      <Projects />

      <Experiences />

      <AboutMe />
    </div>
  </Content>
</Layout>

<style>
.container {
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding-top: 4rem;
}

@media screen and (min-width: 688px) {
  .container {
    gap: 8rem;
  }
}
</style>
