---
import Layout from '@/layouts/Layout.astro'
import Masthead from '@/components/Masthead.astro'
import Content from '@/components/Content.astro'
import Projects from '@/sections/Projects.astro'
import Experiences from '@/sections/Experiences.astro'
import AboutMe from '@/sections/AboutMe.astro'
---

<Layout
  title="Yoel Valverde - Desarrollador frontend"
  description="Desarrollador web frontend especializado en crear experiencias digitales rápidas y optimizadas. Experto en React / TypeScript, con un enfoque en rendimiento web para mejorar SEO y la experiencia del usuario."
>
  <Masthead />

  <div class="container">
    <Content>
      <div class="content-flex">
        <Projects />

        <Experiences />

        <AboutMe />
      </div>
    </Content>
  </div>
</Layout>

<style>
.container {
  background-color: var(--color-soft-ivory);
  padding-top: 4rem;
}

.content-flex {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 4rem;
}

@media screen and (min-width: 688px) {
  .content-flex {
    gap: 8rem;
  }
}
</style>
