---
import Layout from '../layouts/Layout.astro'
import CategoryMenu from '../components/CategoryMenu.tsx'
import { valueOfDate } from '../utils/valueOfDate'
import '../styles/shadow.css'
import ProjectCard from '../components/ProjectCard.astro'

const allProjects = (await Astro.glob('./projects/*.md'))
  .filter(project => project.frontmatter.public !== false)
  .sort((a: any, b: any) => {
    return valueOfDate(b.frontmatter.createdAt) - valueOfDate(a.frontmatter.createdAt)
  })
---

<Layout
  title="All projects / Yoel Valverde - Fullstack Developer"
  description="Explore my collection of latest projects, where passion intertwines with innovation to bring forth truly memorable web experiences."
>
  <div class="pt-8 mb-8">
    <div class="flex justify-end items-center mb-8">
      <CategoryMenu client:visible />
    </div>

    <ul class="grid grid-cols-1 gap-y-12 sm:gap-x-8 sm:grid-cols-2 sm:gap-y-8">
      {allProjects.map(project => (
        <ProjectCard
          href={project.url}
          imageUrl={project.frontmatter.heroImage}
          title={project.frontmatter.title}
          stack={project.frontmatter.stack}
        />
      ))}
    </ul>
  </div>
</Layout>
