---
import Layout from '../layouts/Layout.astro'

import '../styles/shadow.css'

const personalProjects = (await Astro.glob('./projects/*.md'))
  .sort((a: any, b: any) => {
    return new Date(b.frontmatter.createdAt).valueOf() - new Date(a.frontmatter.createdAt).valueOf()
  })
---

<Layout title='All projects - Yoel Valverde' description='List of all my projects'>
  <div class="pt-8 mb-8">
    <ul class="grid grid-cols-2 gap-x-8 gap-y-12">
      {personalProjects.map(project => (
        <li>
          <a href={project.url}>
            <img
              src={project.frontmatter?.heroImage}
              alt='Thumbnail'
              class="border border-slate-400 rounded-2xl h-48 w-full object-cover object-center"
              decoding="async"
              loading="lazy"
            />
            <div class="text-center">
              <h4 class="font-bold mt-2 text-lg leading-none selection:bg-white selection:text-primary">
                {project.frontmatter?.title}
              </h4>
              <small class="text-xs selection:bg-white selection:text-primary" style="text-wrap:balance;">
                {project.frontmatter.stack?.join(', ')}.
              </small>
            </div>
          </a>
        </li>
      ))}
    </ul>
  </div>
</Layout>
