---
import Layout from '../layouts/Layout.astro'
import CategoryMenu from '../components/CategoryMenu.tsx'
import { valueOfDate } from '../utils/valueOfDate'
import '../styles/shadow.css'

const allProjects = (await Astro.glob('./projects/*.md'))
  .sort((a: any, b: any) => {
    return valueOfDate(b.frontmatter.createdAt) - valueOfDate(a.frontmatter.createdAt)
  })
---

<Layout
  title="All projects / Yoel Valverde - Fullstack Developer"
  description="Explore my collection of latest projects, where passion intertwines with innovation to bring forth truly memorable web experiences."
>
  <div class="pt-8 mb-8">
    <div class="flex justify-end items-center mb-8">
      <CategoryMenu client:visible />
    </div>

    <ul class="grid grid-cols-1 gap-y-12 sm:gap-x-8 sm:grid-cols-2 sm:gap-y-0">
      {allProjects.map(project => (
        <li>
          <a href={project.url}>
            <img
              src={project.frontmatter.heroImage}
              alt='Thumbnail'
              class="border border-slate-400 rounded-2xl h-48 w-full object-cover object-center"
              decoding="async"
              loading="lazy"
            />
            <div class="text-center">
              <h4 class="font-bold mt-2 text-lg leading-none selection:bg-white selection:text-primary">
                {project.frontmatter.title}
              </h4>
              <small class="text-xs selection:bg-white selection:text-primary" style="text-wrap:balance;">
                {project.frontmatter.stack?.join(', ')}.
              </small>
            </div>
          </a>
        </li>
      ))}
    </ul>
  </div>
</Layout>
