---
import NavList from './NavList.astro'
import NavItem from './NavItem.astro'
import ThemeToggleButton from './ThemeToggleButton.tsx'
import MenuButton from './MenuButton.tsx'
---

<header id="header" class="fixed top-0 left-0 w-full h-16 backdrop-blur-sm transition-[transform] duration-300 z-[500]">
  <div class="w-[90%] mx-auto h-full flex justify-between items-center gap-8 custom:max-w-2xl">
    <nav class="w-full flex justify-start items-center gap-4">
      <a href="/" class="header__logo font-pacifico font-bold text-primary text-2xl" style="line-height: 1;">
        Yoel V.
      </a>

      <NavList>
        <NavItem href='/projects' label='Proyectos' />
        <NavItem href='/about' label='Acerca' />
      </NavList>
    </nav>

    <div class="flex justify-center items-center gap-2">
      <ThemeToggleButton client:visible />
      <MenuButton client:visible />
    </div>
  </div>
</header>

<script is:inline lang="ts">
  const headerElement = document.getElementById('header')
  let prevScrollPos = window.scrollY
  let isHeaderVisible = true

  function handleScroll() {
    const currScrollPos = window.scrollY

    if (currScrollPos > prevScrollPos) {
      if (isHeaderVisible) {
        headerElement?.classList.add('hidden')
        isHeaderVisible = false
      }
    } else {
      if (!isHeaderVisible) {
        headerElement?.classList.remove('hidden')
        isHeaderVisible = true
      }
    }

    prevScrollPos = currScrollPos
  }

  window.addEventListener('scroll', handleScroll)
  window.addEventListener('beforeunload', () => {
    window.removeEventListener('scroll', handleScroll)
  })
</script>

<style>
.header.hidden {
  transition: transform 300ms;
  transform: translateY(-100%);
}
</style>
