---
interface Props {
  href: string
  label: string
  icon?: HTMLElement
  className?: string
  pageIsActive: boolean
}

const { href, label, icon: Icon, className, pageIsActive } = Astro.props
---

<li class="nav__item list-none">
  <a
    href={href}
    class="nav__item-link after:bg-secondary dark:after:bg-primary"
    class:list={[ className, { "active-link": pageIsActive }]}
  >
    {Icon && Icon}
    {label}
  </a>
</li>

<style>
  .nav__item {
    position: relative;
  }

  .nav__item-link {
    padding: 2px 8px;
  }

  .nav__item-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    transform: scale(0, 1);
    transition: transform 500ms cubic-bezier(0.57, 0.4, 0.55, 1.17);
  }

  .nav__item-link:hover::after {
    transform: scale(1, 1);
  }

  .active-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    transform: scale(1, 1);
    background: var(--primary);
  }
</style>
