---
import { IoIosArrowForward } from 'react-icons/io/index.js'

interface Props {
  label?: string
  href?: string
}

const { label = 'Proyectos', href } = Astro.props
---

<div class='flex justify-start items-center gap-2'>
  <a href={href} class='text-sm underline white-to-secondary dark:white-to-primary transition-colors duration-300 cursor-pointer hover:text-primary'>
    {label}
  </a>
  <IoIosArrowForward />
  <h2 class='font-bold text-secondary dark:text-primary capitalize secondary-to-white dark:primary-to-white'>
    <slot />
  </h2>
</div>
