---
import '../styles/shadow.css'

interface Props {
  href: string
  target?: '_self' | '_top' | '_blank' | '_parent'
  isIcon?: boolean
}

const { href, target = '_self', isIcon } = Astro.props
---

<a
  href={href}
  target={target}
  class={`
    flex justify-center items-center gap-2 uppercase text-center text-white text-sm h-11 white-to-primary backdrop-blur-sm
    bg-primary border-primary btn-primary hover:btn-primary-lg
    ${isIcon ? 'w-11' : 'px-8'} py-2 rounded-lg whitespace-nowrap transition-all duration-200
  `}
>
  <slot />
</a>
