---
interface Props {
  id?: string;
  class?:string;
}

const { id, class: className = "" } = Astro.props;
---

<section
  {id}
  class="w-[90%] mx-auto transition-[width] duration-300 sm:w-[80%] sm:max-w-2xl lg:max-w-3xl"
  class:list={[className]}
>
  <slot />
</section>
