---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<"div">;

const { class: className, ...attrs } = Astro.props;
---

<section
  class={`custom-content ${className || ""}`}
  {...attrs}
>
  <slot />
</section>

<style>
.custom-content {
  width: 90%;
  margin: 0 auto;
  max-width: var(--max-width-content);
}

@media screen and (min-width: 640px) {
  .custom-content {
    width: 80%;
  }
}
</style>
