---
interface Props {
  class?: string
}

const { class: className = '' } = Astro.props
---

<div
  class='custom-content'
  class:list={[className]}
>
  <slot />
</div>

<style>
.custom-content {
  width: 90%;
  margin: auto;
  max-width: 52rem;
}
</style>
