---
interface Props {
  href: string
  occupationAndCompany: string
  dates: string
}

const { href, occupationAndCompany, dates } = Astro.props
---

<a
  href={href}
  target="_blank"
  class="inline-block"
>
  <div class="flex flex-col justify-start items-start gap-2 px-2 py-4 transition-colors duration-300 rounded-lg group/card hover:bg-zinc-200/40 dark:hover:bg-zinc-800/40 sm:flex-row sm:gap-8">
    <span class="whitespace-nowrap uppercase font-semibold text-zinc-500 dark:text-zinc-400">
      {dates}
    </span>

    <article class="flex flex-col">
      <p class="text-lg font-semibold transition-colors duration-300 group-hover/card:text-primary primary-to-white">
        {occupationAndCompany}
      </p>

      <slot name="content" />

      <ul class="mb-4 flex flex-wrap justify-start items-center gap-4">
        <slot name="project-link" />
      </ul>

      <ul class="flex flex-wrap justify-start items-center gap-2">
        <slot name="stack" />
      </ul>
    </article>
  </div>
</a>
