---
import { GoArrowUpRight } from 'react-icons/go/index.js'

interface Props {
  href: string
  occupationAndCompany: string
  dates: string
}

const { href, occupationAndCompany, dates } = Astro.props
---

<a
  href={href}
  target="_blank"
  class="inline-block"
>
  <div
    class={`
      flex flex-col justify-start items-start gap-2 px-2 py-4 transition-colors duration-300
      rounded-lg border-[0.5px] border-transparent group/card
      hover:border-t-zinc-700/80 hover:bg-zinc-800/40
      sm:flex-row sm:gap-8
    `}
  >
    <span class="whitespace-nowrap uppercase font-medium text-sm white-to-primary text-zinc-400">
      {dates}
    </span>

    <article class="flex flex-col">
      <p class="text-lg flex gap-1 justify-start items-center font-medium transition-colors duration-300 group-hover/card:text-primary">
        <span class="white-to-primary">
          {occupationAndCompany}
        </span>
        <span class="inline-block group-hover/card:translate-x-1 group-hover/card:transform group-hover/card:-translate-y-1 transition-[transform] duration-200">
          <GoArrowUpRight />
        </span>
      </p>

      <slot name="content" />

      <ul class="mb-4 flex flex-wrap justify-start items-center gap-4">
        <slot name="project-link" />
      </ul>

      <ul class="flex flex-wrap justify-start items-center gap-2">
        <slot name="stack" />
      </ul>
    </article>
  </div>
</a>
