---
import Content from './Content.astro'
---

<Content>
  <footer class="h-16 flex justify-between items-center flex-wrap mt-16 text-base text-deep-teal/90">
    <p class="font-medium">
      &copy; {new Date().getFullYear()} Yoel Valverde.
    </p>

    <ul class="flex items-center justify-center gap-x-4">
      <li>
        <a
          href="https://linkedin.com/in/yoelvalverdepolo/"
          target="_blank"
          class="network-link"
        >
          LinkedIn
        </a>
      </li>
      <li>
        <a
          href="https://github.com/yoelvp/"
          target="_blank"
          class="network-link"
        >
          Github
        </a>
      </li>
    </ul>
  </footer>
</Content>

<style>
.network-link {
  transition: color 300ms, text-decoration 300ms;
}

.network-link:hover {
  opacity: 0.8;
  text-decoration: underline;
}
</style>
