<footer class="w-full h-12 flex justify-start items-center">
  <section class="w-full flex justify-between items-center gap-4">
    <a href='/'>
      <h3 class="font-pacifico text-lg white-to-primary">
        Yoel Valverde
      </h3>
    </a>

    <ul class="flex justify-center items-center gap-4">
      <li>
        <a
          href="https://linkedin.com/in/yoelvalverdepolo/"
          class="transition-all duration-300 white-to-primary hover:underline hover:text-primary"
          target="_blank"
        >
          LinkedIn
        </a>
      </li>
      <li>
        <a
          href="https://github.com/yoelvp/"
          class="transition-all duration-300 white-to-primary hover:underline hover:text-primary"
          target="_blank"
        >
          Github
        </a>
      </li>
    </ul>
  </section>
</footer>
