<footer class="w-full h-16 flex justify-start items-center">
  <section class="w-full flex justify-between items-center gap-4 text-sm text-zinc-600">
    <p class="white-to-secondary dark:white-to-primary">
      &copy; {new Date().getFullYear()} Yoel Valverde.
    </p>

    <ul class="flex justify-center items-center gap-4">
      <li>
        <a
          href="https://linkedin.com/in/yoelvalverdepolo/"
          class="transition-all duration-300 white-to-secondary dark:white-to-primary hover:underline hover:text-secondary dark:hover:text-primary"
          target="_blank"
        >
          LinkedIn
        </a>
      </li>
      <li>
        <a
          href="https://github.com/yoelvp/"
          class="transition-all duration-300 white-to-secondary dark:white-to-primary hover:underline hover:text-secondary dark:hover:text-primary"
          target="_blank"
        >
          Github
        </a>
      </li>
    </ul>
  </section>
</footer>
