---
import HamburgerMenu from './HamburgerMenu.astro'

interface Props {
  isFixed?: boolean
}

const { isFixed } = Astro.props
---

<header class="header__container">
  <!-- Desktop mobile -->
  <div class="header" class:list={[{ 'header--fixed': isFixed }]}>
    <a href="/" class="header__logo">
      Yoel Valverde
    </a>

  <HamburgerMenu />
  </div>

  <!-- Mobile -->
  <div></div>
</header>

<style>
.header {
  height: 120px;
  width: 100%;
  max-width: 116rem;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 0 1rem;
}

.header__logo {
  color: var(--white);
  font-size: 24px;
  display: none;
}

.header.header--fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10000;
}
</style>

<script>
import { $ } from '@/lib/dom-selector'

const $logo = $('.header__logo')

$logo?.addEventListener('click', () => {
  console.log('Logo click')
})
</script>
