---
import Logo from "@/components/Logo.astro";
import { pages } from "@/constants/pages";

const { pathname } = Astro.url;
---

<header
  class="header__wrapper bg-soft-ivory/[0.2] fixed top-0 left-0 z-[1000] h-16 w-full backdrop-blur-sm"
>
  <div
    class="header h-full flex justify-between items-center relative"
    class:list={[
      "w-[90%] mx-auto transition-[width] duration-300 sm:w-[80%] sm:max-w-2xl lg:max-w-3xl"
    ]}
  >
    <a
      href="/"
      class="h-full font-medium uppercase inline-flex items-center gap-1 overflow-hidden group"
    >
      <Logo
        size="32"
        class:list={[
          "transition-[scale,rotate] duration-[350ms] origin-center",
          "group-hover:text-deep-teal group-hover:transform group-hover:-rotate-[8deg] group-hover:scale-[1.2]"
        ]}
      />
      <span
        class="text-lg group-hover:text-deep-teal md:text-xl"
        class:list={[{ "logo-name---animate": pathname === "/" }]}
      >
        Yoel Valverde</span
      >
    </a>

    <button
      id="hamburger"
      class="hamburger-menu relative w-12 h-12 cursor-pointer transition-[transform] duration-[500ms]"
    >
      <span class="absolute top-1/2 left-0 inline-block w-full h-[2px] bg-dark"
      ></span>
    </button>
  </div>
</header>

<!-- Mobile -->
<div
  class="overlay fixed top-0 left-0 w-full h-screen z-[99] bg-soft-ivory flex"
>
  <nav
    class="overlay__menu fixed top-0 left-0 w-full h-screen flex flex-col justify-center items-center gap-4"
  >
    {
      pages.map((page) => (
        <div class="menu__item">
          <a
            href={page.href}
            class:list={[
              "relative inline-block text-center font-bebas-neue text-[12vh] leading-24 hover:tracking-wider",
              "will-change-transform transition-[line-height,font-size,letter-spacing] duration-[400ms]",
              "md:leading-36",
              { active: pathname === page.href }
            ]}
          >
            {page.name}
          </a>
        </div>
      ))
    }
  </nav>

  <ul
    class="overlay__submenu fixed bottom-0 right-[10%] flex flex-col items-end gap-y-2 opacity-0"
  >
    <li>
      <a
        href="https://linkedin.com/in/yoelvalverde"
        class="underline decoration-deep-teal hover:text-deep-teal"
      >
        Linkedin
      </a>
    </li>
    <li>
      <a
        href="https://github.com/yoelvp"
        class="underline decoration-deep-teal hover:text-deep-teal"
      >
        Github
      </a>
    </li>
    <li>
      <a
        href="https://github.com/ngcraftz"
        class="underline decoration-deep-teal hover:text-deep-teal"
      >
        Github <span>(ngcraftz)</span>
      </a>
    </li>
  </ul>
</div>

<style>
  .logo-name---animate {
    display: none;
    opacity: 0;
    transform: translateX(-160px);
    display: none;
  }

  /* Hamburger menu button */
  .hamburger-menu span {
    transform: translateY(calc(-50% + 4px));
    transition:
      transform 1000ms,
      color 500ms ease-in;
  }

  .hamburger-menu span::before {
    content: "";
    position: absolute;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 2px;
    background: var(--color-dark);
    transform: translateY(-8px);
    transition:
      transform 1000ms,
      color 500ms ease-in;
    transform-origin: center;
  }

  .hamburger-menu:hover span,
  .hamburger-menu:hover span::before {
    background-color: var(--color-deep-teal);
  }

  .hamburger-menu.hamburger-menu--active span {
    transform: rotate(45deg);
  }

  .hamburger-menu.hamburger-menu--active span::before {
    top: unset;
    transform: rotate(-90deg);
  }

  /* Overlay splash screen */
  .overlay {
    will-change: transform;
    clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
  }

  .overlay__menu .menu__item {
    display: flex;
    justify-content: center;
    cursor: pointer;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  }

  .menu__item a.active::after {
    content: "";
    position: absolute;
    left: 0;
    top: 45%;
    transform: translateY(-50%);
    background-color: var(--color-deep-teal);
    border-top: 4px solid var(--color-soft-ivory);
    border-bottom: 4px solid var(--color-soft-ivory);
    width: 100%;
    height: 12px;
  }

  @media screen and (min-width: 768px) {
    .menu__item a {
      font-size: 14vh;
    }
  }
</style>

<script>
  import { $ } from "@/lib/dom-selector";
  import gsap from "gsap";
  import { CSSRulePlugin } from "gsap/CSSRulePlugin";

  gsap.registerPlugin(CSSRulePlugin);

  document.addEventListener("astro:page-load", () => {
    gsap.set(".menu__item a", { y: 255 });

    const $hamburger = $("#hamburger");
    const timeline = gsap.timeline({ paused: true });
    let isOpen = false;

    timeline.to(".overlay", {
      duration: 1.5,
      clipPath: "polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%)",
      ease: "power4.inOut"
    });
    timeline.to(
      ".menu__item a",
      {
        duration: 1.5,
        y: 0,
        stagger: 0.2,
        ease: "power4.inOut"
      },
      "-=1"
    );
    timeline.to(
      ".overlay .overlay__submenu",
      {
        bottom: "5%",
        opacity: 1,
        duration: 0.5,
        delay: 0.6
      },
      "<"
    );

    $hamburger?.addEventListener("click", () => {
      $hamburger?.classList.toggle("hamburger-menu--active");

      if (isOpen) timeline.reverse();
      if (!isOpen) timeline.play();
      isOpen = !isOpen;
    });

    gsap.to(".logo-name---animate", {
      opacity: 1,
      display: "block",
      x: 0,
      duration: 1,
      ease: "power2.out",
      scrollTrigger: {
        trigger: ".home-container",
        start: "top top",
        end: "+=10",
        toggleActions: "play none reverse none"
      }
    });
  });
</script>
