<div class="in-development">
  En desarrollo
</div>

<style>
.in-development {
  border-radius: var(--rounded-lg);
  background-color: var(--primary);
  padding: 2px 6px;
  font-weight: 500;
  font-size: var(--text-xs);
}
</style>
