<section id='masthead' class="masthead">
  <video
    class="masthead__video"
    poster="https://r2.yoelvalverde.dev/masthead-poster.webp"
    autoplay="autoplay"
    muted="muted"
    loop="loop"
    playsinline
  >
    <source
      src="https://r2.yoelvalverde.dev/masthead-poster.webp"
      type="video/webm; codecs=vp9"
    />
    <source
      src="https://r2.yoelvalverde.dev/masthead-poster.webp"
      type="video/mp4; codecs=hvc1"
    />
  </video>

  <div class='masthead__content'>
    <article>
      <h2 class='content__title title-name white-to-primary'>
        <span class="first-name">Yoel</span> <span>Valverde</span>
      </h2>
    </article>
  </div>
</section>

<style>
.masthead {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: sticky;
  top: 0;
  z-index: -100;
}

.masthead .masthead__video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  opacity: 0.8;
}

.masthead__content {
  width: 100%;
  height: 100%;
  padding: 0 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.masthead__content .content__title {
  font-weight: bold;
  text-transform: uppercase;
  font-family: var(--font-bebas-neue);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 16vw;
  line-height: 0.9;
  height: 370px;
  padding: 0;
  color: var(--white);
  mix-blend-mode: difference;
  user-select: none;
}

.content__title .first-name {
  font-size: 28vw;
}

@media screen and (min-width: 1080px) {
  .masthead__content {
    padding: 0 4rem;
  }
}
</style>

<script>
import gsap from 'gsap'
import { ScrollTrigger } from 'gsap/ScrollTrigger'
import { $ } from '@/lib/dom-selector'

const $masthead = $('#masthead')
let progress = 0

const handleScroll = () => {
  if ($masthead) {
    progress = Math.min(1, window.scrollY / $masthead.clientHeight)

    $masthead.style.transform = `translateY(-${progress * 20}vh)`
  }
}

document.addEventListener('scroll', handleScroll, { passive: true })

window.removeEventListener('beforeunload', handleScroll)

gsap.registerPlugin(ScrollTrigger)

gsap.to('.title-name', {
  scrollTrigger: {
    trigger: '.masthead',
    start: 'top top',
    scrub: 1.9
  },
  yPercent: -40
})
</script>
