<section id='masthead' class="masthead min-h-screen flex flex-col justify-center items-center sticky top-0 -z-10">
  <video
    class="absolute w-full h-full object-cover opacity-80"
    poster="/images/masthead-poster.jpg"
    autoplay="autoplay"
    muted="muted"
    loop="loop"
    playsinline
  >
    <source
      src='https://videos.pexels.com/video-files/3130182/3130182-hd_1920_1080_30fps.mp4'
      type="video/webm; codecs=vp9"
    />
    <source
      src='https://videos.pexels.com/video-files/3130182/3130182-hd_1920_1080_30fps.mp4'
      type="video/mp4; codecs=hvc1"
    />
  </video>

  <div class='w-full h-full px-8 lg:px-16 flex flex-col justify-center items-center'>
    <article>
      <h2 class='title-name uppercase font-bold text-white white-to-primary flex flex-col justify-center items-center'>
        <span class="first-name">Yoel</span> <span>Valverde</span>
      </h2>
    </article>
  </div>
</section>

<style>
.title-name {
  font-size: 16vw;
  font-family: var(--font-gothania-serif);
  line-height: 0.9;
  height: 370px;
  padding: 0;
  color: var(--white);
  mix-blend-mode: difference;
  user-select: none;
}

.title-name .first-name {
  font-size: 28vw;
}
</style>

<script>
import gsap from 'gsap'
import { ScrollTrigger } from 'gsap/ScrollTrigger'
import { $ } from '@/lib/dom-selector.ts'

const $masthead = $('#masthead')
let progress = 0

const handleScroll = () => {
  if ($masthead) {
    progress = Math.min(1, window.scrollY / $masthead.clientHeight)

    $masthead.style.transform = `translateY(-${progress * 20}vh)`
  }
}

document.addEventListener('scroll', handleScroll, { passive: true })

window.removeEventListener('beforeunload', handleScroll)

gsap.registerPlugin(ScrollTrigger)

gsap.to('.title-name', {
  scrollTrigger: {
    trigger: '.masthead',
    start: 'top top',
    scrub: 1.9
  },
  yPercent: -40
})
</script>
