<div
  id="mastheadSection"
  class:list={[
    "sticky top-0 -z-[100] h-screen min-h-screen w-[90%] mx-auto transition-[width] duration-300",
    "py-16 flex justify-center items-center",
    "sm:w-[80%] sm:max-w-2xl lg:max-w-3xl"
  ]}
>
  <div class="w-full flex justify-center items-center">
    <img
      src="/yoel-valverde.svg"
      alt="Yoel Valverde - Desarrollador de software"
      id="mastheadName"
      class="w-full h-full object-contain object-center"
    />
  </div>
</div>

<script>
  import { $ } from "@/lib/dom-selector";
  import gsap from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";

  gsap.registerPlugin(ScrollTrigger);

  const $masthead = $<HTMLDivElement>("#mastheadSection");
  let progress = 0;

  const handleScroll = () => {
    if ($masthead) {
      progress = Math.min(1, window.scrollY / $masthead.clientHeight);

      $masthead.style.transform = `translateY(-${progress * 20}vh)`;
    }
  };

  document.addEventListener("scroll", handleScroll, { passive: true });
  window.removeEventListener("beforeunload", handleScroll);

  document.addEventListener("astro:page-load", () => {
    gsap.to("#mastheadName", {
      scrollTrigger: {
        trigger: "#mastheadSection",
        start: "top top",
        scrub: 1.9
      },
      yPercent: -40
    });
  });
</script>
