---
import Heading from '@/components/Heading.astro'

interface Props {
  title: string
}

const { title } = Astro.props
---
<div class="mb-8">
  <Heading as="h2" class="section-heading">
    {title}
  </Heading>
</div>

<style>
.section__header {
  margin-bottom: 2rem;
}

.section-heading {
  font-size: 4rem;
  font-family: var(--font-bebas-neue);
  text-decoration: underline;
  text-decoration-thickness: 4px;
  text-underline-offset: 4px;
}
</style>
