---
import HeadingSection from '@/components/HeadingSection.astro'

interface Props {
  title: string
}

const { title } = Astro.props
---
<section class="section__header">
  <HeadingSection as="h3">
    {title}
  </HeadingSection>
</section>

<style>
.section__header {
  margin-bottom: 2rem;
}
</style>
