---
import Heading from '@/components/Heading.astro'

interface Props {
  title: string
}

const { title } = Astro.props
---
<section class="section__header">
  <Heading as="h3" class="section-heading primary-to-white">
    {title}
  </Heading>
</section>

<style>
.section__header {
  margin-bottom: 2rem;
}
</style>
