<section class="section__header">
  <h3 class="section__title">
    Proyectos
  </h3>
</section>

<style>
.section__header .section__title {
  font-family: var(--font-gothania);
  font-size: 4vh;
}
</style>
