<div class="bg-black/20 backdrop-blur-md py-4 px-6 rounded-lg border border-zinc-200 dark:border-zinc-800 border-dashed text-center uppercase flex flex-col justify-center items-center gap-2">
  <slot />
</div>
