---
import SkillTag from './SkillTag.astro'
import { FaHtml5, FaCss3Alt, FaSass, FaReact, FaVuejs, FaNodeJs } from 'react-icons/fa/index.js'
import { SiTailwindcss, SiStyledcomponents, SiChakraui, SiMui, SiExpress, SiNestjs } from 'react-icons/si/index.js'
import { RiJavascriptFill } from 'react-icons/ri/index.js'
import { BiLogoPostgresql, BiLogoTypescript } from 'react-icons/bi/index.js'
import { SiAstro } from 'react-icons/si/index.js'
import { SiPhp } from 'react-icons/si/index.js'
import { TbBrandLaravel, TbBrandSvelte } from 'react-icons/tb/index.js'
import { SiMysql } from 'react-icons/si/index.js'
---

<div class="grid grid-cols-2 gap-4 sm:grid-cols-3 md:grid-cols-4">
  <SkillTag>
    <FaHtml5 size='32' />
    HTML
  </SkillTag>
  <SkillTag>
    <FaCss3Alt size='32' />
    CSS
  </SkillTag>
  <SkillTag>
    <FaSass size='32' />
    SASS
  </SkillTag>
  <SkillTag>
    <SiTailwindcss size='32' />
    TailwindCSS
  </SkillTag>
  <SkillTag>
    <SiStyledcomponents size='32' />
    Styled Components
  </SkillTag>
  <SkillTag>
    <SiChakraui size='32' />
    ChakraUI
  </SkillTag>
  <SkillTag>
    <SiMui size='32' />
    MaterialUI
  </SkillTag>
  <SkillTag>
    <RiJavascriptFill size='32' />
    JavaScript
  </SkillTag>
  <SkillTag>
    <BiLogoTypescript size='32' />
    TypeScript
  </SkillTag>
  <SkillTag>
    <FaReact size='32' />
    React
  </SkillTag>
  <SkillTag>
    <SiAstro size='32' />
    Astro
  </SkillTag>
  <SkillTag>
    <TbBrandSvelte size='32' />
    Svelte
  </SkillTag>
  <SkillTag>
    <SiPhp size='32' />
    PHP
  </SkillTag>
  <SkillTag>
    <TbBrandLaravel size='32' />
    Laravel
  </SkillTag>
  <SkillTag>
    <FaNodeJs size='32' />
    Nodejs
  </SkillTag>
  <SkillTag>
    <SiExpress size='32' />
    ExpressJS
  </SkillTag>
  <SkillTag>
    <SiNestjs size='32' />
    NestJS
  </SkillTag>
  <SkillTag>
    <SiMysql size='32' />
    MySQL
  </SkillTag>
  <SkillTag>
    <BiLogoPostgresql size='32' />
    PostgreSQL
  </SkillTag>
</div>
