<div class="skill-item bg-black/10 backdrop-blur-md py-4 px-6 rounded-lg border text-zinc-200 border-zinc-800 white-to-primary border-dashed text-center text-sm uppercase flex flex-col justify-center items-center gap-2">
  <slot />
</div>
