<div class="bg-zinc-200/20 dark:bg-black/20 backdrop-blur-md py-4 px-6 rounded-lg border border-zinc-200 text-secondary dark:text-zinc-200 dark:border-zinc-800 secondary-to-white dark:white-to-primary border-dashed text-center text-sm uppercase flex flex-col justify-center items-center gap-2">
  <slot />
</div>
