---
interface Props {
  label: string
}

const { label } = Astro.props
---

<section class="flex justify-start items-start gap-2">
  <p class='inline px-1 py-[1px] rounded bg-secondary dark:bg-primary text-white text-xs font-bold uppercase whitespace-nowrap select-none'>
    {label}
  </p>
  <slot />
</section>
