<li
  class={`
    bg-primary/20 text-zinc-200 inline-block px-2 py-[1px] text-sm whitespace-nowrap
    rounded-lg transition-colors duration-300 group-hover/card:bg-primary/40 white-to-primary
  `}
>
  <slot />
</li>
