---
import Badge from "@/components/Badge.astro";
import Content from "@/components/Content.astro";
import Link from "@/components/Link.astro";
import Logo from "@/components/Logo.astro";
import SectionHeader from "@/components/SectionHeader.astro";

const { pathname } = Astro.url;
---

<Content>
  <SectionHeader title="Acerca de mí" />

  <section class="flex flex-col gap-y-8">
    <article class="flex flex-col gap-x-4 gap-y-8 items-start sm:flex-row sm:items-center">
      <div
        class="w-52 h-52 p-2 rounded-full border-4 border-deep-teal flex jsutify-center items-center"
      >
        <div
          class="w-full h-full rounded-full bg-deep-teal text-soft-ivory flex justify-center items-center"
        >
          <Logo size="128" />
        </div>
      </div>
      <div class="flex flex-col gap-y-4">
        <div>
          <h2 class="font-bebas-neue text-5xl text-deep-teal">Yoel Valverde</h2>
          <strong class="text-lg uppercase font-normal">
            Desarrollador frontend
          </strong>
        </div>
        <div class="flex flex-wrap gap-x-4 gap-y-2">
          <Badge class="badge--deep-teal"> React </Badge>
          <Badge class="badge--deep-teal"> Astro </Badge>
          <Badge class="badge--deep-teal"> Next.js </Badge>
          <Badge class="badge--deep-teal"> Tailwind CSS </Badge>
        </div>
      </div>
    </article>

    <article class="space-y-4">
      <p class="content-text">
        Soy un desarrollador web con más de <strong>dos años de experiencia</strong>,
        especializado en frontend y con un fuerte enfoque en la creación de
        interfaces accesibles, intuitivas y visualmente atractivas. Me apasiona
        el diseño y la tecnología, y encuentro mi mayor satisfacción en la
        intersección de ambos mundos, desarrollando experiencias digitales que
        no solo se ven bien, sino que también están meticulosamente optimizadas
        para el rendimiento, la usabilidad y la accesibilidad.
      </p>
      <p class="content-text">
        Actualmente, <strong>soy desarrollador fullstack</strong> y
        <strong>fundador de ngcraftz</strong>, una agencia especializada en el
        desarrollo de software a medida. Mi rol abarca desde el diseño UX/UI,
        asegurando que cada plataforma cumpla con los estándares más exigentes
        de accesibilidad y experiencia de usuario, hasta la gestión de proyectos
        y el desarrollo tanto en frontend como en backend. Mi enfoque es
        <strong>crear productos digitales eficientes</strong>, escalables
        y con una base sólida en buenas prácticas.
      </p>
      {pathname !== "/" && (
        <p class="content-text">
          A lo largo de mi trayectoria, he trabajado en empresas como ID Business
          Intelligence, ISOS GROUP y Possible Corporación, donde tuve la
          oportunidad de desarrollar software en diversos proyectos. Durante mi
          paso por Possible Corporación, además de desempeñarme como
          desarrollador, también tuve la responsabilidad de guiar y apoyar a
          practicantes del área de sistemas, ayudándolos a adquirir experiencia
          práctica y colaborando en el desarrollo de productos digitales
          orientados a mejorar la visibilidad online de la empresa.
        </p>
        <p class="content-text">
          Más allá del trabajo, me apasiona seguir aprendiendo y explorando nuevas
          tecnologías. Actualmente, estoy profundizando mis conocimientos en el
          desarrollo backend, experimentando con Rust y creando aplicaciones para
          terminal. También disfruto de la música, que me acompaña en mis sesiones
          de código y me inspira a seguir innovando en cada proyecto que emprendo.
        </p>
      )}
    </article>

    <div class="flex flex--center">
      <Link href="/about"> Ver más </Link>
    </div>
  </section>
</Content>

<style>
  .content-text {
    text-wrap: pretty;
  }

  .content-text strong {
    font-weight: 500;
  }
</style>
