<div
  id="mastheadSection"
  class:list={[
    "sticky top-0 -z-[100] h-screen min-h-screen w-[90%] mx-auto transition-[width] duration-300",
    "py-16 flex justify-center items-center",
    "sm:w-[80%] sm:max-w-2xl lg:max-w-3xl"
  ]}
>
  <div class="w-full flex justify-center items-center">
    <img
      src="/yoel-valverde.svg"
      alt="Yoel Valverde - Desarrollador de software"
      id="mastheadName"
      class="w-full h-full max-w-full object-contain object-center"
    />
  </div>
</div>

<style>
#mastheadName {
  transition: transform 500ms cubic-bezier(0.42, 0, 0.58, 1);
}
</style>

<script>
  import { $ } from "@/lib/dom-selector";

  const $masthead = $<HTMLDivElement>("#mastheadSection");
  const $mastheadName = $<HTMLImageElement>("#mastheadName");
  let progress = 0;

  const handleScroll = () => {
    if ($masthead) {
      progress = Math.min(1, window.scrollY / $masthead.clientHeight);

      $masthead.style.transform = `translateY(-${progress * 20}vh)`;
    }
  };

  document.addEventListener("scroll", handleScroll, { passive: true });
  window.removeEventListener("beforeunload", handleScroll);

  document.addEventListener("astro:page-load", () => {
    const observer = new IntersectionObserver(
      ([entry]) => {
        if (entry.isIntersecting) {
          const progress = entry.intersectionRatio;
          if ($mastheadName) {
            $mastheadName.style.transform = `translateY(${-40 * (1 - progress)}%)`;
          }
        }
      },
      {
        root: null,
        threshold: Array.from({ length: 101 }, (_, i) => i / 100)
      }
    );

    if ($masthead) {
      observer.observe($masthead);
    }
  });
</script>
