---
import Header from '@/components/header/Header.astro'
import Footer from '@/components/Footer.astro'
import BaseHead from '@/components/BaseHead.astro'
// import NoiseBackground from '@/components/NoiseBackground.astro'
import Content from '@/components/Content.astro'

interface Props {
  title: string
  description: string
  hasMenu?: boolean
}

const { title, description, hasMenu } = Astro.props
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body class="bg-black text-white break-words">
    <!-- <NoiseBackground /> -->
    <Header {hasMenu} />
    <main>
      <slot />
    </main>
    <Content>
      <Footer />
    </Content>

    <div id="cursor"></div>
  </body>
</html>
